<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="Shop for Covid-19 supplies">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" />
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script>
        let stripePublicKey = '<%= stripePublicKey %>'
    </script>
    <script src="store.js" defer></script>
</head>

<body>
    <header class="main-header">
        <nav class="navbar navbar-expand-md nav">
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse"
                data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="store">STORE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">ABOUT</a>
                    </li>
                </ul>
            </div>
        </nav>
        <h1 class="store-name store-name-large">Covid Supplies</h1>
    </header>

    <section class="container content-section">
        <h2 class="section-header">POPULAR ITEMS</h2>
        <div class="shop-items">
            <% items.popular.forEach(function(item){ %>
            <div class="shop-item" data-item-id="<%= item.id %>">
                <span class="shop-item-title"><%= item.name %></span>
                <img class="shop-item-image" src="covidimages/<%= item.imgName %>">
                <div class="shop-item-details">
                    <span class="shop-item-price">$<%= item.price / 100 %></span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <% }) %>
        </div>
    </section>
    <section class="container content-section">
        <h2 class="section-header">NEW ADDITIONS</h2>
        <div class="shop-items">
            <% items.new.forEach(function(item){ %>
            <div class="shop-item" data-item-id="<%= item.id %>">
                <span class="shop-item-title"><%= item.name %></span>
                <img id="newitems" class="shop-item-image" src="covidimages/<%= item.imgName %>">
                <div class="shop-item-details">
                    <span class="shop-item-price">$<%= item.price / 100 %></span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <% }) %>
        </div>
    </section>
    <section class="container content-section">
        <h2 class="section-header">SHOPPING CART</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items">
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">$0</span>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
    </section>
    <footer class="main-footer">
        <div class="container main-footer-container">
            <h2 class="store-name">Covid Supplies</h2>
            <h2 class="store-name3">&copy Aladin Feratovic</h2>
            <h2 class="store-name2">EST. 2020</h2>
        </div>
    </footer>
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script>
        var stripePublicKey = '<%= stripePublicKey %>'
    </script>

    <script src="https://kit.fontawesome.com/c8a96085e3.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>

</html>